
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body {
    height: 100%;
    margin: 0;
    display: grid;
    align-items: baseline;
    gap: 20px;
}

main {
    height:100%;
    width: 120%; 
    max-width: 1200%; 
    min-width: 300px; 
    padding: 10px; 
    margin: 0 auto; 
    background-color: #f0f0f0; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
}


.nav-list {
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0;
    width: 100%; /* Ocupar a largura total do menu */
    text-align: justify;
    letter-spacing: 0.5px;
    display: grid;
    gap: 20%;
}

    .nav-list li a:hover {
        background-color: #DBDBE1; /* Fundo cinza claro ao passar o mouse */
    }

#Usuario {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #DBDBE1;
    white-space: nowrap;
    padding-bottom: 10px;
}

.content {
    flex: 1;
}

.footer > container-footer {
    width: 100%;
    text-align: justify;
    padding: 10px;
    background-color: #3C3E43; /* Cor de fundo do footer */
    bottom: 0;
}

    .container-footer {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #DBDBE1;
        font-size: 15px;
    }

h1 {
    padding-top: 0%;
    justify-content: flex-start;
    display: flex;
}

h2 {
    padding-top: 2%;
    padding-bottom: 3%;
    align-items:initial;
    display: flex;
}

#navbar-link {
    background-color: #3C3E43;
    padding: 0%;
}

.container-agendamentos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 colunas */
    gap: 20px; /* Espaço entre os quadrados */
}
.quadrado {
    width: 250px; /* Largura do quadrado */
    height: 200px; /* Altura do quadrado */
    border: 0px solid #333; /* Borda */
    background-color: white; /* Cor de fundo dos quadrados */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px; /* Espaçamento interno */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    text-align: center; /* Alinha o texto ao centro */
    border-radius: 5px;
}

img {
    width: 140px; /* Largura do logo */
    margin-bottom: 0; /* Espaçamento abaixo do logo */
}

.nav-list2 {
    text-align: justify;
    letter-spacing: 0.5px;
    display: inline-block;
    position: relative;
    list-style-type: none;
    font-size: 20px;
    margin: 0px;
    white-space: nowrap;
}

    .nav-list2 li a:hover {
        background-color: #DBDBE1; /* Fundo cinza claro ao passar o mouse */
    }

.card-corpo {
    display: grid;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    grid-template-columns: 1fr 1fr; /* Cria duas colunas com tamanhos iguais */
    gap: 50%; /* Espaço entre os cards */
}

#btn-despesa {
    width: 100%;
    padding: 10px;
    background-color: #086EBA;
    border-color: #086EBA;
}

#btn-imprimir {
    width: 20%;
    padding: 10px;
    background-color: #086EBA;
    border-color: #086EBA;
}

.cards {
    align-items: center;
    display: grid;
    background-color: white;
    width: 40%;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    grid-template-columns: 1fr 1fr; /* Cria duas colunas com tamanhos iguais */
    gap: 10%; /* Espaço entre os cards */
}

.saldo-tela {
    padding-left: 10px;
}
    .saldo-tela > p {
        display: grid;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
    }

h4 {
    white-space: nowrap;
    margin: 0; /* Remove margens padrão do h4 */
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 200%;
}

#Despesas {
    white-space: nowrap;
}

.header-prymary {
    background-color: black;
    position: fixed; /* Fixa o menu na lateral */
    width: 250px; /* Largura do menu */
    height: 100vh; /* Altura de 100% da viewport */
    background-color: #3C3E43; /* Fundo predefinido */
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center;
}

.container-fluid {
    padding-right: 0;
    text-align: center;
}

.nav-list {
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0;
    width: 100%; /* Ocupar a largura total do menu */
    text-align: justify;
    letter-spacing: 0.5px;
    display: inline-block;
}

    .nav-list li a:hover {
        background-color: #DBDBE1; /* Fundo cinza claro ao passar o mouse */
        padding: 10px;
        touch-action: pinch-zoom;
    }

.nav-top {
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0;
    width: 100%; /* Ocupar a largura total do menu */
    text-align: justify;
    letter-spacing: 0.5px;
    display: inline-block;
}

.nav-list2 {
    width: 100%; /* Ocupar a largura total do menu */
    text-align: justify;
    letter-spacing: 0.5px;
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    font-size: 30px;
}

    .nav-list2 li a:hover {
        background-color: #DBDBE1; /* Fundo cinza claro ao passar o mouse */
        padding: 10px;
        touch-action: pinch-zoom;
    }

    .nav-list2 > li {
        display: inline-block;
    }



.footer > hr {
    width: 80%; /* Diminui a largura da linha (50% da largura da página) */
    height: 2px; /* Define a espessura da linha */
    background-color: #333; /* Cor da linha */
    border: none; /* Remove qualquer borda padrão */
    margin-right: 25%;
}

#f {
    display: flex;
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    align-items: center; /* Alinha verticalmente */
    padding: 10px;
}

.footer {
    position: fixed;
    bottom: 6px;
    left: 15%;
    text-align: left;
    padding: 0.1px;
}

#h2 {
    text-align: end;
    padding: 10px;
    margin-left: 0;
    background-color: #DBDBE1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

@media (max-width: 600px) {
    footer {
        padding: 10px 5px; /* Reduz o padding em telas menores */
        font-size: 0.875rem; /* Diminui o tamanho da fonte em telas menores */
    }

    @media (max-width: 768px) {
        .footer h1 {
            font-size: 1.2rem;
        }

        .footer {
            padding: 15px;
        }
    }

    @media (max-width: 480px) {
        .footer h1 {
            font-size: 1rem;
        }

        .footer {
            padding: 10px;
        }
    }

    .content {
        padding-bottom: 840px;
    }
}