
@model Usuarios

@{
    Layout = null; // Remova o layout principal para a tela de login
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@if (ViewBag.MensagemErro != null)
{
    <div id="mensagem-erro" class="alert alert-danger">
        @ViewBag.MensagemErro
    </div>

}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achernar - Sistema Pessoal</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/LoginStyleSheet.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
        <div class="container">
            <div class="left-panel">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/lucas-santos-93508a245/"><img src="https://img.icons8.com/ios/50/linkedin.png" alt="linkedin" /></a>
                    <a href="https://www.facebook.com/messier104ngc4594"><img src="https://img.icons8.com/ios/50/facebook--v1.png" alt="facebook--v1" /></a>
                    <a href="https://github.com/Messier104ngcc"><img src="https://img.icons8.com/glyph-neue/64/github.png" alt="github" /></a>
                </div>
                <div class="logo">
                    <img id="logo" src="~/img/LOGO.png" alt="Logo Achernar">
                </div>
            </div>

            <div class="right-panel">
                <div class="login-box">
                    <div class="forgot-support">
                        <a href="https://api.whatsapp.com/send?phone=5547999756192">Suporte</a>
                        <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/external-support-online-shopping-vitaliy-gorbachev-fill-vitaly-gorbachev-2.png" alt="external-support-online-shopping-vitaliy-gorbachev-fill-vitaly-gorbachev-2" />
                    </div>
                    <div class="user-icon">
                        <img width="100" height="100" src="https://img.icons8.com/ios-filled/100/gender-neutral-user.png" alt="gender-neutral-user" />
                    </div>
                    <form asp-controller="Login" asp-action="Entrar" method="post">               
                        <div class="form-container">
                            <form>
                                <div class="form-group">
                                    <label for="username"><i class="bi bi-person-fill"></i></label>
                                    <input type="text" asp-for="UserName" id="username" name="username" placeholder="Digite seu usuário" autocomplete="off">                              
                                </div>
                                <div class="form-group">
                                    <label for="senha"><i class="bi bi-key-fill"></i></label>
                                    <input type="password" asp-for="Senha" id="senha" name="senha" placeholder="Digite sua senha" autocomplete="off">
                                </div>
                                <div class="forgot-password">
                                    <a href="#">Esqueceu a senha?</a>
                                </div>
                                <div class="button-group">
                                    <button type="submit" class="btn">Entrar</button>
                                    <a class="btn-cadastrar" type="button" asp-controller="Login" asp-action="Cadastrar">Cadastrar</a>
                                </div>
                                <footer>
                                    <p>Copyright © 2024 - Todos os direitos reservados</p>
                                </footer>
                            </form>
                        </div>
                    </form>
                    @* <button class="btn-cadastrar">
                        
                    </button> *@
                </div>
            </div>
        </div>
    <script src="~/js/Login.js" asp-append-version="true"></script>
</body>
</html>
