
@model IEnumerable<AulasModel>



<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Materia</th>
            <th scope="col">Sala</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody>

    @* condição para  saber se há registro na tabela *@

        @if(Model != null)
        {
            @foreach(var aulas in Model)
            {
                <tr>
                    <th scope="row">@aulas.Nome</th>
                    <td>@aulas.Materia</td>
                    <td>@aulas.Sala</td>
                    <td>@aulas.DataAula</td>
                </tr>
            }
        }
       
    </tbody>
</table>