@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  
    <h1 class="display-4">Gerenciamento de Aulas</h1>
    <p>Gerencie de forma mais rapida as aulas de sua instituição!</p>
    <div>
        <img src="/img/LOGO.png"/>
    </div>

</div>
