@using SistemaPessoal.Models
@model DespesasModel

@* informando para a tela que ela vai receber os dados direto dessa calsse, no campos que o usuario digitar *@

@{
    ViewData["title"] = "Excluir Despesa"; /* mudando o nome da pagina */
}

@* formulario de cadastro *@

<div class="container bg-black p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Exclusão de Despesas</h1>
    </div>

    @*     A utilização do method="post" indica que apois clicar no botão adicionar do formulario, todas as informações vão ser transferidas para o metodo cadastrar no AlunoController, e vão ser salvas no banco de dados
    *@
    <form method="post" asp-asp-controller="Despesas" asp-action="Excluir">

        <input type="hidden" asp-for="DespesaId" /> @* pegando o Id da tabela, mais não mostra no formulario *@

        <h2 class="text-light">Deseja Realmente Excluir esse Registro?</h2>

        <div class="mb-3">
            <label for="Despesa" class="form-label text-light">Despesa</label>
            <input type="text" class="form-control" asp-for="Despesa" id="Despesa" placeholder="Despesa" disabled>
            <span class="text-danger" asp-validation-for="Despesa"></span> @* chamando a mensagem de erro da classe DespesasModel *@
        </div>
        @*         A utilização do asp-for="" indica que o campo do formulario está recebendo valor, para poder ser salvar no banco apois a ação do botão adicionar
        *@
        <div class="mb-3">
            <label for="Observacao" class="form-label text-light">Observações</label>
            <input type="text" class="form-control" asp-for="Observacao" id="Observacao" placeholder="Observações" disabled>
            <span class="text-danger" asp-validation-for="Observacao"></span>
        </div>

        <div class="mb-3">
            <label for="Valor" class="form-label text-light">Valor</label>
            <input type="text" class="form-control" asp-for="Valor" id="Valor" placeholder="Valor da Despesa" disabled>
            <span class="text-danger" asp-validation-for="Valor"></span>
        </div>

        <div class="mb-3">
            <label for="Vencimento" class="form-label text-light">Vencimento</label>
            <input type="text" class="form-control" asp-for="Vencimento" id="Vencimento" placeholder="Data de Vencimento">
            <span class="text-danger" asp-validation-for="Vencimento"></span>
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-danger w-20"><i class="bi bi-person-add mx-2"></i>Excluir</button>
            <a class="btn btn-primary w-40" asp-controller="Despesas" asp-action="Index"><i class="bi bi-back mx-2"></i>Voltar</a>
        </div>
    </form>
</div>

