<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema Pessoal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Tema Flatly.css.css" asp-append-version="true" />  @* caminho do css da pagina *@
    <link rel="stylesheet" href="~/css/HomeNewStyleSheet.css" asp-append-version="true"/>
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> @*  importando icones para o projeto *@
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.css" rel="stylesheet"> @* importando datatables para poder gerar os filtros  *@
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none"/> @* exportando a biblioteca de icones para mensagens de sucesso que aparecrá para o usuario apois ele fazer um alteração qualquer nos dados *@
</head>
<body class="body">
     <header class="header-prymary">
        <nav class="navbar-link">
            <div class="container-fluid">
                    <img class="img" src="/img/LOGO.png" />
                    <hr id="linha1" />
                <div class="navbar-link2">
                    <ul class="nav-list">
                        <li>
                            <a class="nav-link text-light m-2" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house mx-2"></i>Inicio</a>
                        </li>
                        <li>
                            <a class="nav-link text-light m-2" asp-area="" asp-controller="Despesas" asp-action="Index"><i class="bi bi-person-vcard-fill mx-2"></i>Despesas</a>
                        </li>
                        <li>
                            <a class="nav-link text-light m-2" asp-area="" asp-controller="Bancos" asp-action="Index"><i class="bi bi-bank2 m-2"></i>Bancos</a>
                        </li>
                        <li>
                            <a class="nav-link text-light m-2" asp-area="" asp-controller="Agendamento" asp-action="Index"><i class="bi bi-calendar-check-fill m-2"></i>Agendamento</a>
                        </li>    
                        <li>
                            <a class="nav-link text-light m-2" asp-area="" asp-controller="Usuario" asp-action="GerenciamentoUsuario"><i class="bi bi-calendar-check-fill m-2"></i>Gerenciamento de Usuários</a>
                        </li>
                    </ul>

                    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
                    <select id="configuracoes" name="configuracao" onchange="redirecionar(this.value)">
                        <option value="">Configurações</option>
                        <option value="GerenciamentoUsuario">Gerenciamento de Usuários</option>
                        <option value="Configuracao2">Configuração 2</option>
                        <option value="Configuracao3">Configuração 3</option>
                    </select>

                    <ul class="nav-list2">
                        <li>
                            <a class="nav-link text-light m-2" asp-controller="Login" asp-action="Sair"><i class="bi bi-box-arrow-right mx-2"></i>Sair</a>
                        </li>
                    </ul>
                </div>
                <hr id="linha1" />
            </div>
            <div class="container-fluid-2">

            </div>
        </nav>
    </header>
    <footer>
        <div id="f">
            <h1 id="Usuario" atl="Usuario">Bem-vindo, @User.Identity.Name!</h1>
        </div>
    </footer>
    <div class="container">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.js"></script>  @* importando datatables para poder gerar os filtros  *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
